.DS_Store
cnn_model/.ipynb_checkpoints
cnn_model/Data
flask_backend/models/.ipynb_checkpoints
flask_backend/__pycache__
flask_backend/utils/__pycache__
frontend/node_modules
frontend/.env
node_backend/node_modules
node_backend/.env
node_backend/pgdata